* {
  font-family: "Inter", sans-serif;
}

img {
  object-fit: cover;
}
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(36, 100%, 99%);
}
#logo {
  padding: 10px 30px;
  margin-left: -12px;
  height: 55px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-bar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

#game {
  height: 400px;
  margin-left: 30px;
  width: 90%;
}
.boxes {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 30px;
  margin-right: 55px;
}
.hydro {
  background-color: hsl(240, 100%, 5%);
}
.hydro > h2 {
  color: hsl(35, 77%, 62%);
  margin-left: 15px;
  font-size: 30px;

  margin-bottom: 25px;
}

.hydro > h3 {
  color: hsl(36, 100%, 99%);
  margin-left: 15px;
  margin-bottom: 35px;
}
.hydro > p {
  color: hsl(36, 100%, 99%);
  margin-left: 15px;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 35px;
}

hr {
  color: hsl(36, 100%, 99%);
  width: 75%;
  border: thin 2px;
}

.connect > h1 {
  font-size: 40px;
  margin-left: 30px;
  position: relative;
}
.mainevent {
  display: flex; /* Added for flexbox layout */
  justify-content: space-between; /* Optional for spacing */
  margin-top: -100px;
  margin-bottom: 50px;
}

#points {
  position: absolute;
  left: 500px;
  margin-top: 50px;
}

.trends > h3 {
  color: hsl(236, 13%, 42%);
}

.trends {
  font-weight: 200;
}

#one {
  margin-right: 30px;
  margin-left: 30px;
  height: 200px;
  float: inline-start;
  margin-top: 20px;
}

.trends {
  display: flex;
  justify-content: space-around;
}

.fa-times {
  font-size: 20px;
}

.nav-bar .fas {
  display: none;
}
@media only screen and (max-width: 600px) {
  .hydro {
    margin-left: 30px;
  }
  .boxes {
    display: flex;
    flex-direction: column;
  }

  .mainevent,
  .connect {
    display: flex;
    flex-direction: column;
    position: none;
  }

  .trends {
    display: flex;
    flex-direction: column;
  }

  .nav-bar .fas {
    display: block;
    font-size: 25px;
  }

  .nav-bar ul {
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 10vh;
  }

  .nav-bar ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
